*.iml
.gradle
/local.properties
/.idea/
# Descomentar si quieres compartir configuraciones específicas:
# !/.idea/codeStyles
# !/.idea/inspectionProfiles
# !/.idea/runConfigurations
/.vscode/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
